body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.equal-width-column {
  width: 14.28%; /* ~100 / 7 */
  float: left;
}

.card {
  width: 100%;
  display: flex; /* add this */
  flex-direction: column; /* add this */
}

.card-body {
  flex-grow: 1; /* add this */
}

body {
  background-color: #343a40; /* dark gray */
}

.card {
  background-color: #212529; /* darker gray */
}

.card-title {
  color: #17a2b8; /* light blue */
}

input[type="text"],
.btn {
  background-color: #495057; /* grayish */
  color: #fff; /* white text */
}